.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding-top: 15px;
  margin-bottom: 15px;
}

.navbar-logo__text {
  color: #68b0c9;
  font-family: 'Open Sans', serif;
  font-size: 23px;
  font-weight: 400;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 70px;
}

.navbar-logo__image {
  position: absolute;
  margin: auto;
  top: 15px;
  padding-left: 11px;
}

.navbar-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar-info__phone {
  font-family: 'Museo Sans Bold';
  text-decoration: none;
  color: #5e5e5e;
  font-size: 24px;
  font-weight: 400;
  line-height: 42.35px;
}

.navbar-info__callback {
  font-family: 'Museo Sans Light';
  color: #5892a6;
  font-size: 14px;
  font-weight: 400;
  line-height: 42.35px;
  text-decoration: underline;
}

.container {
  width: 950px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 90%;
  }
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.input {
  text-align: center;
  max-width: 220px;
  padding: 15px 0;
  border-radius: 20px;
  border: 1px solid #e8e8e8;
  width: 100%;
}

.button {
  border-radius: 23px;
  background-color: #68b0c9;
  text-transform: uppercase;
  padding: 17px 0;
  max-width: 220px;
  width: 100%;
  border: 0;
}

.hero {
  background: url("/img/hero/hero-bg.jpg");
  background-size: cover;
  background-position: 45% 0%;
  background-repeat: repeat-x;
  text-align: right;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-text__title {
  font-family: 'Museo Sans Bold';
  color: #535353;
  font-size: 41px;
  font-weight: 400;
  line-height: 50px;
  margin: 0;
  padding-top: 80px;
}

.hero-text__subtitle {
  font-family: 'Museo Sans Light';
  padding-top: 20px;
  color: #5892a6;
  font-size: 27px;
  font-weight: 400;
  line-height: 42.35px;
}

.hero-offer {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: 0;
  border-radius: 20px;
  background-color: #ffffff;
  max-width: 300px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.hero-offer:hover {
  -webkit-box-shadow: 0 0 38px rgba(104, 176, 201, 0.34);
          box-shadow: 0 0 38px rgba(104, 176, 201, 0.34);
}

.hero-offer__title {
  font-family: 'Museo Sans Bold';
  color: #5892a6;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 14px;
}

.hero-offer__subtitle {
  font-family: 'Museo Sans Light';
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 20px;
  display: inline-block;
}

.hero-offer__input {
  font-family: 'Museo Sans Light';
  margin-bottom: 15px;
}

.hero-offer__button {
  color: #ffffff;
  font-family: 'Museo Sans Bold';
  margin-bottom: 36px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.hero-offer__button:hover {
  -webkit-box-shadow: 0 5px 5px rgba(1, 1, 1, 0.1);
          box-shadow: 0 5px 5px rgba(1, 1, 1, 0.1);
}

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.information__title {
  font-family: 'Museo Sans Bold';
  text-align: center;
  margin-top: 60px;
  font-size: 36px;
  color: #535353;
  margin-bottom: 130px;
}

.information-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 110px;
}

.description-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.description-text__title {
  font-family: 'Museo Sans Bold';
  color: #68b0c9;
  font-size: 30px;
  font-weight: 400;
  max-width: 370px;
}

.description-text__subtitle {
  font-family: 'Museo Sans Light';
  max-width: 390px;
  color: #535353;
  font-size: 18px;
}

.description-image {
  margin-left: 90px;
}

.description-arrow {
  position: absolute;
  top: -15%;
  left: 40%;
}

.reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 110px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reverse-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-left: auto;
  margin-right: 0;
}

.reverse-text__title {
  font-family: 'Museo Sans Bold';
  color: #68b0c9;
  font-size: 30px;
  font-weight: 400;
  max-width: 370px;
  margin-left: auto;
  margin-right: 0;
  text-align: right;
}

.reverse-text__subtitle {
  font-family: 'Museo Sans Light';
  max-width: 384px;
  color: #535353;
  font-size: 18px;
  text-align: right;
}

.reverse-image {
  margin-right: 100px;
}

.reverse-arrow {
  position: absolute;
  top: -15%;
  left: 30%;
}

.subtitle__third {
  max-width: 400px;
}

@font-face {
  font-family: 'Museo Sans Light';
  src: url("/fonts/MuseoSans/MuseoSansCyrl-300.eot");
  src: url("/fonts/MuseoSans/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("/fonts/MuseoSans/MuseoSansCyrl-300.woff") format("woff"), url("/fonts/MuseoSans/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("/fonts/MuseoSans/MuseoSansCyrl-700.eot");
  src: url("/fonts/MuseoSans/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("/fonts/MuseoSans/MuseoSansCyrl-700.woff") format("woff"), url("/fonts/MuseoSans/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*# sourceMappingURL=style.css.map */