.compare
    &-block
        position: relative
        display: flex
        &__image
            position: absolute
    &-ordinary
        flex-basis: 50%
        &__title
            display: block
        &__subtitle
            display: block
    &-frameless
        flex-basis: 50%
        &__title
            display: block
        &__subtitle
            display: block
