.hero
    &-block
        display: flex
        flex-direction: column
        background-image: url(../img/hero/hero-bg.img)
    &-text                
        &__title
            width: 595px
            color: #535353
            font-size: 41px
            font-weight: 400
            line-height: 50px
            
            
